.repositories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f9f9f9;
    flex-direction: column;
    gap: 10px;
}

.repository-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.repo-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}
  
.repo-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.repo-link {
    font-size: 20px;
    font-weight: bold;
    color: #6a1b9a;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
}
  
.repo-link:hover {
    text-decoration: underline;
}
  
.repo-details {
    font-size: 14px;
    color: #555;
}
  
.repo-language {
    display: flex;
    align-items: center;
    margin: 8px 0;
}
  
.language-icon {
    display: inline-block;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background-size: cover;
}
  
.repo-clone-url {
    margin-top: 5px;
}
  
.repo-clone-url:hover {
    text-decoration: underline;
}

